<nav class="navbar navbar-expand-lg align-items-end navbar-light navbar-bg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="https://static.wikia.nocookie.net/animalcrossing/images/f/ff/NH-peach-icon.png" class="img-fluid d-inline-block align-text-top" alt="" width="30" height="24"/>
          AC Tracker
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav align-items-end">
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/diys">DIYs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/art">Art</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/bugs">Bugs</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/fish">Fish</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/seacreatures">Sea Creatures</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/flowers">Flowers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/items">Saharah's Items</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>