{% extends "layouts/base.html" %}

{% block body %}

    <div class="container-sm p-4 main-content">
        <h6 class="display-6">Search for Items</h6>
        <form action="{{ url_for('search_items') }}" method="POST">
            <div class="row">
    
                <div class="mb-3 col-md-6">
                    <input type="text" class="form-control" id="search_items" name="search_items" placeholder="Item Name">
                </div>

                <div class="mb-3 col-md-2">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
                
            </div>
        </form>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Item Name</th>
                        <th scope="col">Item Type</th>
                        <th scope="col">Rug Size</th>
                        <th scope="col">Lindsay</th>
                        <th scope="col">Lyrics</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in search_data %}
                    <tr>
                        <td>{{ row[0]['itemname'] }}</td>
                        <td>{{ row[0]['itemcategory'] }}</td>
                        {% if row[0]['rugsize'] %}
                        <td>{{ row[0]['rugsize'] }}</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}
                        {% if row[0]['lindsay'] %}
                        <td><input type="checkbox" checked disabled></td>
                        {% else %}
                        <td><input type="checkbox" disabled></td>
                        {% endif %}
                        {% if row[0]['lyrics'] %}
                        <td><input type="checkbox" checked disabled></td>
                        {% else %}
                        <td><input type="checkbox" disabled></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}