{% extends "layouts/base.html" %}

{% block body %}

    <div class="container-lg main-content">
        <h6 class="display-6">Search for DIYs</h6>
        <form action="{{ url_for('search_diys') }}" method="POST">
            <div class="row">

                <div class="mb-3 col-6">
                    <input type="text" class="form-control" id="search_diys" name="search_diys" placeholder="DIY Name">
                </div>
                
                <div class="mb-3 col-2">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
                
            </div>
        </form>
    </div>

{% endblock %}