{% extends "layouts/base.html" %}

{% block body %}
    <div class="container-lg">
        <h1 class="display-6">Add Sea Creatures</h1>
        <form action="{{ url_for('add_seacreatures') }}" method="POST">
            <div class="mb-3">
                <label for="seacreature_name" class="form-label">Sea Creature name</label>
                <input type="text" class="form-control" id="seacreature_name" name="seacreature_name" required>
            </div>
            <input type="hidden" id="seacreature_user" name="seacreature_user" value="lindsay">
        <button type="submit" class="btn btn-primary">Add Sea Creature</button>
        </form>
    </div>

{% endblock %}