.navbar-bg {
    background: #D1FCCE;
}

.nav-link {
    color: #3E803A !important;
}

.navbar-brand {
    color: #3E803A !important;
}

button {
    background: #3E803A !important;
    border-color: #3E803A !important;
    color: white !important;
}

body {
    color: #3E803A;
    background-color: white;
    background-image: url("https://live.staticflickr.com/5456/9299889586_4ac962ce6e_b.jpg");
}

.main-content {
    background: #D1FCCE;
    margin-top: 4%;
    margin-bottom: 4%;
    min-height: 100px;
}

.about_pics { 
    text-align: center;
}

.about_pics_caption {
    display: inline-block;
}

.display-6 {
    margin-bottom: 3%;
}

.about_heading {
    margin-top: 3%;
    margin-bottom: 1%;
}

#about_me {
    margin-bottom: 1%;
}
