{% extends "layouts/base.html" %}

{% block body %}

    <div class="container-sm p-4 main-content">
        <h6 class="display-6" id="about_me">About Me</h6>
        <p>
            Welcome to my Animal Crossing website! My name is Lindsay Goins and I've been playing Animal Crossing since the 
            GameCube era when I was a child. I created this website to help my sister-in-law and I track various items we collect 
            and trade.
        </p>
        
        <p>
            These are a few pictures from my time playing the most recent game in the Animal 
            Crossing series, Animal Crossing: New Horizons.
        </p>

        <h6 class="display-6 about_heading">My House</h6>
        <p>My favorite rooms in my house.</p>

        <div class="row">
            <div class="col-lg-4 px-2 about_pics">
                <img src="https://i.imgur.com/EXJeON0.jpeg" class="img-fluid" alt=""/>
                <span class="about_pics_caption">My bedroom</span>
            </div>

            <div class="col-lg-4 px-2 about_pics">
                <img src="https://i.imgur.com/CSugIRb.jpeg" class="img-fluid" alt=""/>
                <span class="about_pics_caption">Guest bedroom</span>
            </div>

            <div class="col-lg-4 px-2 about_pics">
                <img src="https://i.imgur.com/yhoshkm.jpeg" class="img-fluid" alt=""/>
                <span class="about_pics_caption">Kitchen</span>
            </div>
        </div>

        <h6 class="display-6 about_heading">My Island</h6>
        <p>My favorite spots around my island.</p>

        <div class="row">
            <div class="col-lg-4 p-2 about_pics">
                <img src="https://i.imgur.com/CGdUd9N.jpeg" class="img-fluid" alt=""/>
            </div>

            <div class="col-lg-4 p-2 about_pics">
                <img src="https://i.imgur.com/CKeh5gC.jpeg" class="img-fluid" alt=""/>
            </div>

            <div class="col-lg-4 p-2 about_pics">
                <img src="https://i.imgur.com/1tU6Fz4.jpeg" class="img-fluid" alt=""/>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 p-2 about_pics">
                <img src="https://i.imgur.com/wpe0Jfk.jpeg" class="img-fluid" alt=""/>
            </div>

            <div class="col-lg-4 p-2 about_pics">
                <img src="https://i.imgur.com/wTzQEJU.jpeg" class="img-fluid" alt=""/>
            </div>

            <div class="col-lg-4 p-2 about_pics">
                <img src="https://i.imgur.com/n6TUUKW.jpeg" class="img-fluid" alt=""/>
            </div>
        </div>

        <h6 class="display-6 about_heading">Autumn</h6>
        <p>My favorite time of the year. I love the weather, the atmosphere, the food, & Halloween.</p>

        <div class="row">
            <div class="p-2">
                <img src="https://i.imgur.com/IPbvEQR.jpeg" class="img-fluid" alt=""/>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 p-2 about_pics">
                <img src="https://i.imgur.com/1elRBCh.jpeg" class="img-fluid" alt=""/>
            </div>

            <div class="col-lg-4 p-2 about_pics">
                <img src="https://i.imgur.com/R9pMwpA.jpeg" class="img-fluid" alt=""/>
            </div>

            <div class="col-lg-4 p-2 about_pics">
                <img src="https://i.imgur.com/PPYpVcO.jpeg" class="img-fluid" alt=""/>
            </div>
        </div>

        <h6 class="display-6 about_heading">Fun with Lyrics</h6>
        <p>Lyrics is my sister-in-law. We visit each other's islands regularly! Last October we dressed up in Halloween costumes everyday for fun.</p>

        <div class="row">
            <div class="col-lg-6 px-2 about_pics">
                <img src="https://i.imgur.com/Z14Jx0X.jpeg" class="img-fluid" alt=""/>
                <span class="about_pics_caption">Stargazing</span>
            </div>

            <div class="col-lg-6 px-2 about_pics">
                <img src="https://i.imgur.com/esRs1Yr.jpeg" class="img-fluid" alt=""/>
                <span class="about_pics_caption">October last year. I'm a chef and Lyrics is Elvis.</span>
            </div> 
        </div>

        <div class="row">
            <div class="col-lg-6 px-2 about_pics">
                <img src="https://i.imgur.com/zHSpy8A.jpeg" class="img-fluid" alt=""/>
                <span class="about_pics_caption">October last year. This was a funny coincidence. We did not plan to match, but I dressed up as an angel and Lyrics dressed up as the devil!</span>
            </div>
            <div class="col-lg-6 px-2 about_pics">
                <img src="https://i.imgur.com/rNVn8s1.jpeg" class="img-fluid" alt=""/>
                <span class="about_pics_caption">Lyrics trying to scare me when I arrived on her island.</span>
            </div>
        </div>

        <h6 class="display-6 about_heading">Lyrics's Island</h6>
        <p>Pictures from Lyrics's island.</p>

        <div class="row">
            <div class="col-lg-4 p-2 about_pics">
                <img src="https://i.imgur.com/NNviY4d.jpeg" class="img-fluid" alt=""/>
            </div>

            <div class="col-lg-4 p-2 about_pics">
                <img src="https://i.imgur.com/kKRCHAs.jpeg" class="img-fluid" alt=""/>
            </div>

            <div class="col-lg-4 p-2 about_pics">
                <img src="https://i.imgur.com/vSKPzkE.jpeg" class="img-fluid" alt=""/>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 p-2 about_pics">
                <img src="https://i.imgur.com/TlCbJDB.jpeg" class="img-fluid" alt=""/>
            </div>

            <div class="col-lg-4 p-2 about_pics">
                <img src="https://i.imgur.com/nGjWSyS.jpeg" class="img-fluid" alt=""/>
            </div>

            <div class="col-lg-4 p-2 about_pics">
                <img src="https://i.imgur.com/vJnK1YG.jpeg" class="img-fluid" alt=""/>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 p-2 about_pics">
                <img src="https://i.imgur.com/ulU7sQE.jpeg" class="img-fluid" alt=""/>
            </div>

            <div class="col-lg-4 p-2 about_pics">
                <img src="https://i.imgur.com/lxOJPJn.jpeg" class="img-fluid" alt=""/>
            </div>

            <div class="col-lg-4 p-2 about_pics">
                <img src="https://i.imgur.com/rAWTHJl.jpeg" class="img-fluid" alt=""/>
            </div>
        </div>
    </div>

{% endblock %}