{% extends "layouts/base.html" %}

{% block body %}
    
    <div class="container-lg main-content">
        <h6 class="display-6">Add Bug by Name</h6>
        <form action="{{ url_for('add_bugs') }}" method="POST">
            <div class="row">

                <div class="mb-3 col-6">
                    <input type="text" class="form-control" id="bug_name" name="bug_name" placeholder="Bug Name" required>
                </div>

                <input type="hidden" id="bug_user" name="bug_user" value="lindsay">

                <div class="mb-3 col-2">
                    <button type="submit" class="btn btn-primary">Add Bug</button>
                </div>

            </div>
        </form>

        <br>
        <hr />

        <h6 class="display-6">View Bugs</h6>
        <form action="{{ url_for('bugs') }}" method="POST">
            <div class="row">

                <div class="col-3">
                    <select class="form-select" aria-label="Default select example" name="filter_bugs">
                        <option selected value="all">All Bugs</option>
                        <option value="catch">Currently Catchable</option>
                    </select>
                </div>

                <div class="col-3">
                    <select class="form-select" aria-label="Default select example" name="filter_collect">
                        <option selected value="all">View All</option>
                        <option value="lindsay">Lindsay</option>
                        <option value="not_lindsay">Uncollected Lindsay</option>
                    </select>
                </div>

                <div class="col-3">
                    <select class="form-select" aria-label="Default select example" name="sort">
                        <option selected value="id">ID</option>
                        <option value="A">Alphabetical: A - Z</option>
                        <option value="Z">Alphabetical: Z - A</option>
                    </select>
                </div>

                <div class="mb-3 col-2">
                    <button type="submit" class="btn btn-primary">Filter</button>
                </div>
                
            </div>
        </form>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Bug Name</th>
                    <th scope="col">Sell Price</th>
                    <th scope="col">Location</th>
                    <th scope="col">Season</th>
                    <th scope="col">Time</th>
                    <th scope="col">Lindsay</th>
                </tr>
            </thead>
            <tbody>
                {% for row in filter_data %}
                <tr>
                    <td>{{ row['bugname'] }}</td>
                    <td>{{ row['sellprice'] }}</td>
                    <td>{{ row['location']}}</td>
                    {% if row['monthend'] %}
                    <td>{{ row['monthstart']}} - {{ row['monthend']}} 
                        {% if row['altmonthstart'] %}
                        and {{ row['altmonthstart']}} - {{ row['altmonthend']}}
                        {% endif %}
                    </td>
                    {% else %}
                    <td>All Year</td>
                    {% endif %}
                    {% if row['hourend'] %}
                    <td>{{ row['hourstart']}} - {{ row['hourend']}}
                        {% if row['althourstart'] %}
                        and {{ row['althourstart']}} - {{ row['althourend']}}
                        {% endif %}
                    </td>
                    {% else %}
                    <td>All Day</td>
                    {% endif %}
                    {% if row['lindsay'] %}
                    <td><input type="checkbox" checked disabled></td>
                    {% else %}
                    <td><input type="checkbox" disabled></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}