{% extends "layouts/base.html" %}

{% block body %}

    <div class="container-sm p-4 main-content">
        <h1 class="display-6">Welcome.</h1>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://i.imgur.com/IPbvEQR.jpeg" class="d-block w-100" alt="">
                </div>
                <div class="carousel-item">
                    <img src="https://i.imgur.com/wpe0Jfk.jpeg" class="d-block w-100" alt="">
                </div>
                <div class="carousel-item">
                    <img src="https://i.imgur.com/Mq21TQ1.jpeg" class="d-block w-100" alt="">
                </div>
                <div class="carousel-item">
                    <img src="https://i.imgur.com/yk7jNDL.jpeg" class="d-block w-100" alt="">
                </div>
                <div class="carousel-item">
                    <img src="https://i.imgur.com/ZyDJJ8G.jpeg" class="d-block w-100" alt="">
                </div>
                <div class="carousel-item">
                    <img src="https://i.imgur.com/Z14Jx0X.jpeg" class="d-block w-100" alt="">
                </div>
                <div class="carousel-item">
                    <img src="https://i.imgur.com/QKRpUfJ.jpeg" class="d-block w-100" alt="">
                </div>
                <div class="carousel-item">
                    <img src="https://i.imgur.com/ADbqQch.jpeg" class="d-block w-100" alt="">
                </div>
                <div class="carousel-item">
                    <img src="https://i.imgur.com/HhmEzzy.jpeg" class="d-block w-100" alt="">
                </div>
                <div class="carousel-item">
                    <img src="https://i.imgur.com/nbdakne.jpeg" class="d-block w-100" alt="">
                </div>
                <div class="carousel-item">
                    <img src="https://i.imgur.com/BCjc2Zs.jpeg" class="d-block w-100" alt="">
                </div>
                <div class="carousel-item">
                    <img src="https://i.imgur.com/pXtFSAh.jpeg" class="d-block w-100" alt="">
                </div>
                <div class="carousel-item">
                    <img src="https://i.imgur.com/CKeh5gC.jpeg" class="d-block w-100" alt="">
                </div>
                <div class="carousel-item">
                    <img src="https://i.imgur.com/lcsVh3r.jpeg" class="d-block w-100" alt="">
                </div>
                <div class="carousel-item">
                    <img src="https://i.imgur.com/JrWei4A.jpeg" class="d-block w-100" alt="">
                </div>
                <div class="carousel-item">
                    <img src="{{url_for('static', filename='../static/images/meme.jpg')}} " class="d-block w-100" height="706.5" alt=""/>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

{% endblock %}
