{% extends "layouts/base.html" %}

{% block body %}

    <br>
    <h6 class="display-6">Add Item by Name</h6>
    <form action="{{ url_for('add_items') }}" method="POST">
        <div class="row">
            <div class="col-6 mb-3">
                <label for="item_name" class="form-label">Item name</label>
                <input type="text" class="form-control" id="item_name" name="item_name" required>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mb-3">
                <label for="item_user" class="form-label">Choose a User:</label>
                    <select class="form-control" id="item_user" name="item_user">
                        <option value="lindsay">Lindsay</option>
                        <option value="lyrics">Lyrics</option>
                    </select>
            </div>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Add Item</button>
        </div>
    </form>
    <a href="{{ url_for('add_items') }}">Need to add multiple items?</a>

    <br>
    <br>
    <hr />

    <h6 class="display-6">View Items</h6>
    <a href="{{ url_for('search_items') }}">Need to search for a specific item?</a>

    <br>
    <br>
    
    <form action="{{ url_for('items') }}" method="POST">

        <div class="row">

            <div class="col-3">
                <select class="form-select" aria-label="Default select example">
                    <option selected value="all">All Items</option>
                    <option value="rug">Rugs</option>
                    <option value="wallpaper">Wallpaper</option>
                    <option value="flooring">Flooring</option>
                </select>
            </div>

            <div class="col-3">
                <select class="form-select" aria-label="Default select example">
                    <option selected value="all">View All</option>
                    <option value="lindsay">Lindsay</option>
                    <option value="lyrics">Lyrics</option>
                </select>
            </div>

            <div class="col-3">
                <select class="form-select" aria-label="Default select example">
                    <option selected value="A">Alphabetical: A - Z</option>
                    <option value="Z">Alphabetical: Z - A</option>
                </select>
            </div>

            <div class="mb-3 col-2">
                <button type="submit" class="btn btn-primary">Filter</button>
            </div>
        </div>
    </form>
    
{% endblock %}