{% extends "layouts/base.html" %}

{% block body %}

    <div class="container-lg main-content">
        <h6 class="display-6">Add Sea Creature by Name</h6>
        <form action="{{ url_for('add_seacreatures') }}" method="POST">
            <div class="row">

                <div class="mb-3 col-6">
                    <input type="text" class="form-control" id="sea_creature_name" name="sea_creature_name" placeholder="Sea Creature Name" required>
                </div>

                <input type="hidden" id="sea_creature_user" name="sea_creature_user" value="lindsay">

                <div class="mb-3 col-2">
                    <button type="submit" class="btn btn-primary">Add Sea Creature</button>
                </div>

            </div>
        </form>

        <br>
        <hr />

        <h6 class="display-6">View Sea Creatures</h6>
        <form action="{{ url_for('seacreatures') }}" method="POST">
            <div class="row">

                <div class="col-3">
                    <select class="form-select" aria-label="Default select example">
                        <option selected value="all">All Sea Creatures</option>
                        <option value="catch">Currently Catchable</option>
                    </select>
                </div>

                <div class="col-3">
                    <select class="form-select" aria-label="Default select example">
                        <option selected value="all">View All</option>
                        <option value="lindsay">Lindsay</option>
                        <option value="not_lindsay">Uncollected Lindsay</option>
                    </select>
                </div>

                <div class="col-3">
                    <select class="form-select" aria-label="Default select example">
                        <option selected value="A">Alphabetical: A - Z</option>
                        <option value="Z">Alphabetical: Z - A</option>
                    </select>
                </div>

                <div class="mb-3 col-2">
                    <button type="submit" class="btn btn-primary">Filter</button>
                </div>
                
            </div>
        </form>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Sea Creature Name</th>
                    <th scope="col">Sell Price</th>
                    <th scope="col">Season</th>
                    <th scope="col">Time</th>
                    <th scope="col">Lindsay</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Seaweed</td>
                    <td>600</td>
                    <td>October - July</td>
                    <td>All Day</td>
                    <td><input type="checkbox" value="1" disabled checked></td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}